<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>42111326767-m3n2h6anaklkegen8t5gh6ie5sgr25b4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42111326767-m3n2h6anaklkegen8t5gh6ie5sgr25b4</string>
	<key>API_KEY</key>
	<string>AIzaSyBARu5J6dSAdS5He6MRQCMlKwcrGPXzkl8</string>
	<key>GCM_SENDER_ID</key>
	<string>42111326767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gomonke</string>
	<key>PROJECT_ID</key>
	<string>tigoforum2017</string>
	<key>STORAGE_BUCKET</key>
	<string>tigoforum2017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:42111326767:ios:415746a1aac91256</string>
	<key>DATABASE_URL</key>
	<string>https://tigoforum2017.firebaseio.com</string>
</dict>
</plist>